.venv
**/__pycache__
*.egg-info
.env
dist/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/backend.hcl
terraform/bootstrap/.terraform/
terraform/bootstrap/.terraform.lock.hcl
terraform/bootstrap/terraform.tfstate
terraform/bootstrap/terraform.tfstate.backup
terraform/bootstrap/*.tfvars

resources/
